@import "fonts";
@import "nullstyle";
@import "vars";

@import "abstracts/mixins";
@import "abstracts/templates";

@import "components/header";
@import "components/footer";

@import "components/arrows";
@import "components/tabs";
@import "components/accordion";
@import "components/search";
@import "components/application-form";
@import "components/input";
@import "components/product";
@import "components/modal";

.page_main {
	@import "pages/main";
}

.page_catalog {
	@import "pages/catalog";
}

.page_collection {
	@import "pages/collection";
}

.page_news {
	@import "pages/news";
}

.page_article {
	@import "pages/article";
}

.page_cooperation {
	@import "pages/cooperation";
}

html {
	&._lock-scroll {
		overflow: hidden;
		scrollbar-gutter: stable;
		position: relative;

		.mask {
			opacity: 1;
			pointer-events: visible;
		}
	}
}

body {
	color: var(--black);
	font-family: Manrope;
	line-height: 1.2;
}

main {
	margin-top: 40px;
}

.container {
	max-width: 1880px;
	padding: 0 var(--container-padding);
	margin: auto;

}

.mask {
	position: fixed;
	width: 200%;
	height: 200%;
	top: 0;
	left: 0;
	background: #00000054;
	z-index: var(--z-mask);
	pointer-events: none;
	opacity: 0;
	transition: .3s;
}

.hidden {
	position: absolute;
	z-index: -9999;
	width: 0;
	height: 0;
}