main {
	margin-top: 80px;

	@media (width < 1440px) {
		margin-top: 60px;
	}

	@media (width < 1024px) {
		margin-top: 40px;
	}
}

.catalog {
	.container {
		display: flex;
		position: relative;
	}

	@media (width < 1440px) {
		.container {
			gap: 24px;
		}
	}

	&:has(.sidebar-trigger input:checked) {
		.category {
			visibility: visible;
			opacity: 1;
			translate: 0;
		}
	}
}

.category {
	flex: 0 0 446px;

	.head {
		display: flex;
		gap: 8px;
		margin-bottom: 40px;
		flex-wrap: wrap;
	}

	.tab-trigger {
		@extend %button-white;
		padding: 0 20px;

		&._active {
			background: #0041B3;
			color: white;
		}
	}

	.tab-content {
		padding-left: 20px;
	}

	.groups {
		display: flex;
		flex-direction: column;
		gap: 22px;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 14px;
		align-items: start;


	}

	.group-title {
		color: #2A2A2A;
		font-weight: 700;
		font-size: 24px;
	}

	.list {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 8px;
	}

	.option {
		color: #696969;
		font-size: 20px;
		cursor: pointer;

		&._active {
			color: #0041B3;
		}
	}

	@media (width < 1440px) {
		flex: 0 0 auto;
	}

	@media (width < 1024px) {
		position: absolute;
		top: calc(54px + 20px);
		left: var(--container-padding);
		z-index: var(--z-header-nav);
		width: calc(100vw - (var(--container-padding) * 2));
		background: #F2F2F2;
		border-radius: 18px;

		opacity: 0;
		visibility: hidden;
		transition: 0.2s;
		translate: 0 40px;
		padding: 32px;

		.tab-content {
			padding: 0;
		}

		.tab-trigger {
			background: white;
		}

		.groups,
		.list {
			max-height: 340px;
			overflow-y: auto;
		}

		.head {
			margin-bottom: 24px;
		}
	}

	@media (width < 768px) {
		.tab-trigger {
			padding: 0 16px;
		}
	}
}

.catalog-content {
	flex: 1 1 auto;

	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	.filter-menu {
		position: absolute;
		z-index: var(--z-header-nav);
		top: calc(100% + 20px);
		border-radius: 18px;
		padding: 48px;
		right: 0;
		background: #F2F2F2;
		max-width: 1540px;
		width: calc(100vw - (var(--container-padding) * 2));

		opacity: 0;
		visibility: hidden;
		transition: 0.2s;
		translate: 0 40px;
	}

	&:has(.filter-trigger input:checked) {
		.filter-menu {
			opacity: 1;
			visibility: visible;
			translate: 0;
		}
	}

	.filter-menu__title {
		font-size: 24px;
		font-weight: 700;
	}

	.filter-menu__type {
		margin-top: 24px;
		margin-bottom: 18px;
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
	}

	.filter-menu__button {
		@extend %button-white;
		background: white;
		cursor: pointer;

		input {
			@extend %invisible;
		}

		&:has(input:checked) {
			background: #0041B3;
			color: white;
		}
	}

	.filter-menu__list {
		margin-top: 24px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 16px;
		flex-direction: column;
	}

	.filter-menu__group {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.filter-menu__option {
		input {
			@extend %invisible;
		}

		width: fit-content;
		font-size: 20px;
		color: #696969;
		padding-left: 32px;
		position: relative;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			translate: 0 -50%;
			width: 24px;
			height: 24px;
			background: url("../images/icons/checkbox-unchecked.svg");
		}

		&:has(input:checked) {
			color: #0041B3;

			&::after {
				background: url("../images/icons/checkbox-checked.svg");
			}
		}
	}

	.title {
		@extend %h1;
	}

	.filter-trigger {
		@extend %button-core;
		padding: 0;
		width: 54px;
		background: #F2F2F2;
		cursor: pointer;

		input {
			@extend %invisible;
		}
	}

	.accordions {
		margin-top: 50px;
		display: flex;
		gap: 16px;
		flex-direction: column;
	}

	.accordion {
		background: #F9F9F9;
		border-radius: 18px;

		padding: 16px 24px;
	}

	.accordion._open {
		>.accordion__q {
			>button {
				rotate: 180deg;
			}
		}
	}

	.accordion__q {
		padding: 8px 24px;
		border-radius: 8px;
	}

	.accordion__content {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding-top: 12px;
	}

	.ac-sub {
		padding: 0;
	}

	.ac-sub._open {
		.accordion__q {
			background: white;
		}
	}

	.ac-title {
		font-weight: 700;
		font-size: 24px;
	}

	.ac-subtitle {
		font-size: 20px;
		font-weight: 700;
		color: #696969;
	}

	.sidebar-trigger {
		@extend %button-icon;
		display: none;
	}

	@media (width < 1500px) {
		.filter-menu__list {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media (width < 1440px) {}

	@media (width < 1024px) {

		.accordions {
			margin-top: 30px;
		}

		.sidebar-trigger {
			display: flex;
		}

		.filter-menu {
			padding: 32px;
		}

		.filter-menu__list {
			grid-template-columns: 1fr;
		}

		.head {
			justify-content: start;
			gap: 8px;
		}

		.filter-trigger {
			margin-left: auto;
		}

		.filter-menu__list {
			max-height: 450px;
			overflow-y: auto;
		}
	}

	@media (width < 768px) {
		.accordions {
			margin-top: 20px;
		}

		.filter-menu__type {
			gap: 8px;
		}

		.filter-menu__button {
			padding: 0 16px;
		}

		.accordions>.accordion {
			padding: 16px;
		}

		.ac-subtitle {
			font-size: 18px;
			font-weight: 400;
		}

		.accordion__q {
			padding: 8px 14px;
		}

		.accordion__content {
			gap: 8px;
			padding-top: 8px;
		}
	}
}