main {
	margin-top: 70px;

	@media (width < 1024px) {
		margin-top: 30px;
	}
}

.collection {

	.title {
		@extend %h1;
	}

	.groups {
		margin-top: 40px;

		display: flex;
		gap: 40px;
		flex-direction: column;
	}

	.subtitle {
		font-size: 32px;
		font-weight: 600;
	}

	.splide__track {
		margin: 32px calc((100vw - 100%) / -2) 0;
	}

	.file {
		border-radius: 10px;
		background: #F9F9F9;

		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: start;
		width: 257px;
		min-height: 170px;

		font-size: 24px;
		font-weight: 700;
		padding: 24px 24px 18px;
		gap: 10px;

		span {
			margin-top: auto;
		}
	}

	@media (width < 1440px) {
		.subtitle {
			font-size: 28px;
		}
	}

	@media (width < 1024px) {
		.groups {
			margin-top: 30px;
		}

		.splide__track {
			margin-top: 16px;
		}

		.subtitle {
			font-size: 24px;
		}

		.file {
			font-size: 20px;
			font-weight: 400;
		}
	}

	@media (width < 768px) {
		.title {
			max-width: 300px;
		}

		.subtitle {
			font-size: 20px;
		}

		.file {
			padding: 8px;
			width: 160px;
			font-size: 18px;
		}
	}
}