main {
	margin-top: 90px;

	@media (width < 1440px) {
		margin-top: 60px;
	}

	@media (width < 1024px) {
		margin-top: 30px;
	}
}

.cooperation {
	.container {
		display: flex;
		gap: 60px;
	}

	.content {
		flex: 1 1 892px;
		line-height: 1.4;

		.title {
			@extend %h1;
		}

		.text {
			margin-top: 40px;
			font-size: 20px;
		}

		.bold {
			font-size: 20px;
			margin-top: 20px;
			display: inline-block;
		}

		.points {
			margin-top: 40px;
			display: flex;
			gap: 26px;
			flex-wrap: wrap;
		}

		.point {
			flex: 1 1 0;
			height: 215px;
			border-radius: 18px;
			flex-direction: column;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #F9F9F9;
			gap: 14px;
			font-size: 20px;
			text-align: center;
			padding: 0 24px;
			min-width: 200px;
		}
	}

	.component_application-form {
		flex: 1 1 812px;
		align-self: flex-start;
	}


	@media (width < 1440px) {}

	@media (width < 1024px) {
		.container {
			flex-direction: column;
		}


		.content {
			flex: unset;

			.text {
				margin-top: 24px;
			}

			.points {
				gap: 16px;
			}

			.point {
				height: 167px;

			}
		}

		.component_application-form {
			flex: unset;
		}
	}
}