.start-slide {
	.container {
		position: relative;
	}

	.splide__track {
		border-radius: 10px;
		contain: paint;
	}

	.splide__slide {
		&:nth-child(1) {
			color: white;

			.button {
				@extend %button-white;
			}

			img {
				width: 160%;
				height: 160%;
				translate: -20% -20%;
			}
		}

		color: var(--black);

		height: 460px;
		padding: 42px 62px 62px;


		display: flex;
		flex-direction: column;
	}

	.splide__arrow--prev {
		position: absolute;
		z-index: 2;
		top: 50%;
		translate: -50% -50%;
		left: var(--container-padding);
	}

	.splide__arrow--next {
		position: absolute;
		z-index: 2;
		top: 50%;
		translate: 50% -50%;
		right: var(--container-padding);
	}

	.bg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.title {
		font-size: 64px;
		font-weight: 600;
	}

	.subtitle {
		margin-top: 20px;
		opacity: .7;
		font-size: 32px;
		font-weight: 600;
	}

	.button {
		margin-top: auto;
		@extend %button-blue;
	}

	@media (width < 1440px) {
		.title {
			font-size: 54px;
		}

		.subtitle {
			font-size: 28px;
		}
	}

	@media (width < 1024px) {
		.title {
			font-size: 48px;
		}

		.splide__slide {
			padding: 22px 32px 32px;
			height: 400px;
		}

		.subtitle {
			font-size: 24px;
			margin-top: 12px;
		}
	}

	@media (width < 768px) {
		.title {
			font-size: 32px;
		}

		.subtitle {
			font-size: 20px;
		}

		.splide__arrow--prev {
			translate: -16px -50%;
		}

		.splide__arrow--next {
			translate: 16px -50%;
		}
	}
}

.start-catalog {
	margin-top: 40px;

	.splide__slide {
		position: relative;
		height: 274px;
		padding: 40px;
		background: #F2F2F2;
		border-radius: 10px;
		contain: paint;
	}

	.bg {
		@extend %bg;
		z-index: -1;
	}

	.container {}

	.title {
		color: var(--black);
		font-weight: 600;
		font-size: 32px;
	}

	.text {
		margin-top: 12px;
		font-size: 20px;
		color: #A7A7A7;
	}

	.splide__track {
		margin: 0 calc((100vw - 100%) / -2);
	}

	@media (width < 1440px) {
		.splide__slide {
			padding: 32px;
		}
	}

	@media (width < 1024px) {
		margin-top: 24px;

		.title {
			font-size: 28px;
		}

		.splide__slide {
			padding: 24px;
			height: 200px;
		}

		.text {
			margin-top: 8px;
			font-size: 17px;
		}
	}

	@media (width < 768px) {
		.title {
			font-size: 24px;
		}

		.splide__slide {
			padding: 16px;
		}

		.text {
			font-size: 14px;
		}
	}
}

.catalog {
	margin-top: 140px;

	.head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.title {
		@extend %h1;
	}

	.see-all {
		@extend %button-core;
		background: #F2F2F2;
		color: #0041B3;

		svg,
		img {
			display: none;
		}
	}

	.grid {
		margin-top: 50px;
		gap: 40px 22px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	.card {
		position: relative;
	}

	.image {
		background: #F2F2F2;
		border-radius: 10px;
		contain: paint;

		aspect-ratio: 273 / 333;
		width: 100%;
	}

	.bg {
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		object-fit: cover;
	}

	.tags {
		position: absolute;
		top: 12px;
		left: 14px;

		display: flex;
		gap: 4px;
		flex-wrap: wrap;
		max-width: 150px;
	}

	.tag {
		font-weight: 700;
		color: white;
		height: 24px;
		padding: 0 12px;

		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
	}

	.red {
		background: #E31C1C;
	}

	.actions {
		margin-top: 24px;
		padding: 0 12px;
		display: flex;
		gap: 8px;
	}

	.name {
		@include ellipsis(2);
		font-size: 20px;
	}

	.price {
		margin-top: 16px;
		display: flex;
		gap: 8px;
		align-items: center;
		flex-wrap: wrap;
	}

	.new-price {
		color: #0041B3;
		font-size: 24px;
		font-weight: 700;
	}

	.old-price {
		font-size: 14px;
		font-weight: 500;
		color: #A7A7A7;
		text-decoration: line-through;
	}

	.basket {
		background: #F2F2F2;
		border-radius: 50%;
		width: 54px;
		height: 54px;
		flex: 0 0 54px;
		display: flex;
		align-items: center;
		justify-content: center;

		img,
		svg {
			width: 34px;
			height: 34px;
		}
	}

	.orange {
		background: #F37F2D;
	}

	.purple {
		background: #8A38F5;
	}

	@media (width < 1600px) {
		.grid {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	@media (width < 1440px) {
		margin-top: 100px;

		.grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media (width < 1024px) {
		margin-top: 60px;

		.see-all {
			width: 54px;
			height: 54px;
			padding: 0;

			span {
				display: none;

			}

			svg,
			img {
				display: flex;
				width: 32px;
				height: 32px;
			}
		}

		.grid {
			row-gap: 32px;
			margin-top: 24px;
			grid-template-columns: repeat(3, 1fr);
		}

		.actions {
			flex-direction: column;
			gap: 12px;
			padding: 0;
		}

		.basket {
			width: 100%;
			border-radius: 100px;
		}

		.price {
			margin-top: 8px;
		}
	}

	@media (width < 768px) {
		.grid {
			grid-template-columns: repeat(2, 1fr);
		}

		.name {
			font-size: 18px;
		}
	}

	@media (width < 375px) {
		.grid {
			column-gap: 12px;
		}
	}
}

.partners {
	margin-top: 140px;

	.title {
		@extend %h1;
	}

	.row {
		margin-top: 40px;

		gap: 24px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	.card {
		border-radius: 10px;
		contain: paint;
		background: #F2F2F2;

		padding: 0 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 274/120;

		img {
			mix-blend-mode: multiply;
			width: 100%;
		}
	}

	@media (width < 1440px) {
		margin-top: 110px;

		.row {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media (width < 1024px) {
		margin-top: 80px;

		.row {
			margin-top: 30px;
			grid-template-columns: repeat(3, 1fr);
			gap: 12px;
		}
	}

	@media (width < 768px) {
		.row {
			grid-template-columns: repeat(2, 1fr);
			gap: 8px;
		}
	}
}

.product-modal {
	.modal__body {
		display: flex;
		gap: 60px;
	}

	.sliders {
		display: flex;
		gap: 12px;
	}

	.left {
		flex: 1 1 0;
		min-width: 0;
	}

	.right {
		flex: 1 1 0;
	}

	.splide {
		min-width: 0;

		.splide__slide {
			background: #00000014;
			contain: paint;

			img {
				mix-blend-mode: multiply;
			}
		}
	}

	#product-preview_splide {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.splide__slide {
			border-radius: 10px;
		}

		.splide__pagination {
			counter-reset: pagination-num;
		}

		.splide__pagination__page:before {
			counter-increment: pagination-num;
			content: counter(pagination-num);
		}
	}

	.counter {
		color: #FFFFFF;
		font-weight: 700;
		background: #A7A7A7;
		padding: 0 12px;
		height: 24px;
		border-radius: 100px;

		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		z-index: 1;
		bottom: 8px;
		left: 50%;
		translate: -50%;

		display: none;
	}

	#product-preview-minimap_splide {
		flex: 0 0 98px;

		.splide__slide {
			cursor: pointer;
			border-radius: 3px;
			aspect-ratio: 98/120;

			img {
				width: 100%;
				object-fit: cover;
			}
		}

		.splide__slide.is-active {

			&::after {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #0000003a;
			}
		}
	}

	.splide__arrow {
		margin: 12px auto 0;
	}

	.splide__arrow--prev {
		display: none;
	}

	.files {
		display: flex;
		margin-top: 24px;
		gap: 24px;
		flex-wrap: wrap;
	}

	.file {
		display: flex;
		gap: 12px;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		color: #111111;

		span {
			max-width: 100px;
		}
	}

	.title {
		font-size: 32px;
		font-weight: 600;
		max-width: 360px;
	}

	.tags {
		margin-top: 18px;
		display: flex;
		column-gap: 24px;
		row-gap: 12px;
		flex-wrap: wrap;
	}

	.tag {
		color: #5F5F5F;
		font-size: 14px;
		font-weight: 500;
	}

	.blue {
		color: #0041B3;
	}

	.price-and-button {
		margin-top: 32px;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 12px;
		gap: 8px;
	}

	.price {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.prices {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	.new-price {
		color: #0041B3;
		font-size: 32px;
		font-weight: 600;
	}

	.old-price {
		font-size: 14px;
		font-weight: 500;
		color: #A7A7A7;
		text-decoration: line-through;
	}

	.discount {
		color: #FFFFFF;
		background: #E31C1C;
		font-weight: 700;
		height: 24px;
		align-items: center;
		justify-content: center;
		display: flex;
		padding: 0 12px;
		border-radius: 100px;
	}

	.buy {
		@extend %button-blue;
	}

	.info {
		margin-top: 60px;

		display: grid;
		grid-template-columns: repeat(2, 1fr);

		color: #696969;
		font-size: 18px;

		>div {
			padding: 8px 16px;

			&:nth-child(4n - 3) {
				background: #F2F2F2;
				border-radius: 10px 0 0 10px;
			}

			&:nth-child(4n - 2) {
				background: #F2F2F2;
				border-radius: 0 10px 10px 0;
			}
		}
	}

	._mobile {
		display: none;
	}

	@media (width < 1440px) {

		#product-preview-minimap_splide {
			flex: 0 0 60px;
		}

		.prices {
			flex-direction: column-reverse;
			gap: 0;
			align-items: start;
		}

		.modal__body {
			padding: 40px;
			gap: 40px;
		}
	}

	@media (width < 1024px) {
		._mobile {
			display: flex;
		}

		._desktop {
			display: none;
		}

		.modal__body {
			flex-direction: column;
		}

		#product-preview-minimap_splide {
			flex: 0 0 120px;
		}

		.info {
			margin-top: 40px;
		}

		.title {
			font-size: 28px;
		}

		.files {
			margin-top: 40px;
		}
	}

	@media (width < 768px) {
		#product-preview-minimap_splide {
			display: none;
		}

		#product-preview_splide {
			.splide__slide {
				border-radius: 30px;
			}
		}

		.counter {
			display: flex;
		}

		.modal__body {
			padding: 10px 10px 30px;
			gap: 16px;
		}

		.title {
			font-size: 24px;
		}

		.info {
			font-size: 16px;
		}

		.tags {
			gap: 16px;
			font-size: 14px;
		}

	}

	@media (width < 425px) {}
}