.profile {
	.container {
		display: flex;
		gap: 170px;
	}

	.tabs {
		flex: 0 0 272px;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.content {
		flex: 0 1 868px;
	}

	.tab-trigger {
		height: 61px;
		background: #F9F9F9;
		font-size: 18px;
		color: #2A2A2A;
		padding: 0 24px;
		display: flex;
		align-items: center;
		border-radius: 18px;

		&._active {
			background: #0041B3;
			color: white;
		}
	}

	.title {
		@extend %h1;
	}

	@media (width < 1440px) {
		.container {
			gap: 70px;
		}
	}

	@media (width < 1024px) {
		.container {
			flex-direction: column;
		}

		.tabs {
			gap: 16px;
		}

		.tab-trigger {
			justify-content: center;
		}

		.title {
			text-align: center;
		}
	}

	@media (width < 768px) {
		.tabs {
			gap: 8px;
		}
	}
}

*[data-tab="order_history"] {

	.products {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.component_product {
		background: #F9F9F9;
		gap: 16px;
		justify-content: space-between;
	}

	.product-price {
		margin: 0;
		flex: unset;
	}

	.amount {
		margin-left: 20px;

		font-size: 20px;
		font-weight: 700;
		background: white;
		color: #0041B3;
		padding: 0 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100px;
		height: 54px;
	}

	.final-desk {
		border-radius: 18px;
		margin-top: 40px;
		background: #F9F9F9;
		padding: 48px;
	}

	.info {
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		line-height: 1;

		&:not(:first-child) {
			margin-top: 18px;
		}
	}

	.info-q {
		color: #A7A7A7;
	}

	.info-a {
		color: #2A2A2A;
	}

	.total {
		margin-top: 32px;

		font-size: 24px;
		font-weight: 700;
		color: #2A2A2A;

		display: flex;
		justify-content: space-between;
	}

	.submit {
		margin-top: 30px;
		@extend %button-blue;
		width: 100%;
	}

	.order {
		display: none;
	}

	.history-orders {}

	.order-list {
		max-width: 570px;
		margin-top: 40px;

		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.order-preview {
		background: #F9F9F9;
		border-radius: 10px;
		padding: 16px 24px;

		justify-content: space-between;
		text-align: left;
		line-height: 1;

		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.left {
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: start;
	}

	.top {
		display: flex;
		justify-content: space-between;
	}

	.bot {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}

	.order-date {
		color: #CCCCCC;
		font-size: 18px;

		display: flex;
		gap: 12px;
	}

	.order-title {
		font-size: 24px;
		font-weight: 700;
		text-wrap: nowrap;
	}

	.order-count {
		font-size: 14px;
		font-weight: 500;
		color: #696969;
	}

	.right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 0 0 auto;
	}

	.order-status-building,
	.order-status-delivered,
	.order-status-canceled {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 24px;
		padding: 0 12px;
		border-radius: 100px;
		color: #FFFFFF;
		font-weight: 700;
		align-self: end;
	}

	.order-status-building {
		background: #8A38F5;
	}

	.order-status-delivered {
		background: #0041B3;
	}

	.order-status-canceled {
		background: #CCCCCC;
	}

	.order-price {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.new-price {
		color: #0041B3;
		font-size: 24px;
		font-weight: 700;

	}

	.old-price {
		font-size: 14px;
		font-weight: 500;
		text-decoration: line-through;
		color: #A7A7A7;
	}

	@media (width < 1440px) {
		.amount {
			margin: 0;
			order: 4;
			grid-column: span 2;
			justify-self: start;
		}

		.final-desk {
			padding: 32px;
		}

		.order-title {
			font-size: 22px;
		}

		.new-price {
			font-size: 22px;
		}
	}

	@media (width < 1024px) {
		.products {
			margin-top: 30px;
		}


		.order-list {
			margin: 30px auto 0;
			gap: 16px;
		}

		.final-desk {
			padding: 24px;
		}

		.info {
			font-size: 16px;
		}

		.total {
			font-size: 22px;
		}

		.order-title {
			font-size: 20px;
		}

		.new-price {
			font-size: 20px;
		}
	}

	@media (width < 768px) {
		.products {
			gap: 8px;
		}

		.info {
			font-size: 14px;

			&:not(:first-child) {
				margin-top: 14px;
			}
		}

		.total {
			font-size: 20px;
			margin-top: 24px;
		}

		.submit {
			margin-top: 24px;
		}

		.order-list {
			gap: 8px;
		}
	}
}

*[data-tab="personal_info"] {
	.personal {
		display: flex;
		align-items: start;
		margin-top: 40px;
		gap: 80px;
	}

	.avatar {
		flex: 0 0 218px;
		aspect-ratio: 1;
		border-radius: 50%;
		contain: paint;
		background: #D9D9D9;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.inputs {
		flex: 0 1 570px;
		display: flex;
		flex-direction: column;
		gap: 18px;
	}

	.component_input {
		background: #F2F2F2;
		margin-top: 8px;
		color: #2A2A2A;
	}

	.input-label {
		line-height: 1;
		font-weight: 500;
		font-size: 14px;
		color: #A7A7A7;
	}

	.sign-out {
		align-self: start;
		@extend %button-core;
		color: #E31C1C;
		font-size: 18px;
		font-weight: 400;
		padding: 0 24px;
		height: 61px;
	}

	@media (width < 1440px) {
		.personal {
			gap: 40px;
		}
	}

	@media (width < 1024px) {
		.personal {
			flex-direction: column;
			gap: 24px;
			align-items: center;
		}

		.inputs {
			flex: unset;
			width: 600px;
		}

		.sign-out {
			align-self: center;
		}
	}

	@media (width < 768px) {
		.inputs {
			width: 100%;
		}
	}
}

*[data-tab="how_to_pay"],
*[data-tab="how_to_track"] {
	.text {
		margin-top: 40px;
		font-size: 20px;
		line-height: 1.4;

		display: flex;
		flex-direction: column;
		gap: 24px;
		color: #2A2A2A;
	}

	.blue {
		padding: 40px;
		background: #E6F5FF;
		border-radius: 10px;
	}

	@media (width < 1024px) {
		.text {
			margin-top: 30px;
		}

		.blue {
			padding: 24px;
		}
	}
}