.accordion {
	transition: .3s;

	.accordion__q {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		cursor: pointer;
		transition: inherit;
	}

	.accordion__a {
		align-content: center;
	}

	button {
		transition: inherit;
	}

	.accordion__content {}

	&._open {
		.accordion__q {}
	}
}