.component_application-form {
	background: #0041B3;
	border-radius: 18px;
	padding: 38px 48px 48px;
	color: white;

	display: flex;
	flex-direction: column;
	gap: 12px;

	text-align: center;
	line-height: 1.4;

	.title {
		font-size: 24px;
		font-weight: 700;
	}

	.text {
		font-size: 20px;

		a {
			text-decoration: underline;
		}
	}

	.input {
		margin-top: 4px;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 12px;
	}

	.input-label {
		font-weight: 500;
		font-size: 14px;
	}

	@media (width < 1440px) {
		padding: 32px;

		.text {
			font-size: 18px;
		}
	}

	@media (width < 1024px) {
		text-align: left;

		.text {
			font-size: 16px;
			line-height: 1.4;
		}
	}

	@media (width < 768px) {
		padding: 24px;

		.text {
			font-size: 14px;
		}
	}
}