header {
	margin-top: 40px;
	background: white;

	&:has(.nav-menu-trigger:hover) {
		.nav-menu {
			opacity: 1;
			visibility: visible;
			translate: -50%;
		}
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {

		img {
			height: 73px;
		}
	}

	.nav {
		flex: 0 1 auto;
		display: flex;
		gap: 40px;

		align-items: center;
	}

	.actions {
		display: flex;
		justify-content: end;
		gap: 12px;
	}

	.nav-menu-trigger {
		.accordion__q {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 0;
			justify-content: center;
		}
	}

	.link {
		font-size: 20px;
		color: #696969;

		&:hover {
			color: #0041B3;

			path {
				stroke: #0041B3
			}
		}
	}

	.basket {
		position: relative;

		span {
			right: 3px;
			top: 3px;
			color: white;
			background: #E31C1C;
			padding: 0 7px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			position: absolute;
			font-weight: 700;
		}
	}

	.person,
	.basket,
	.search-trigger,
	.mobile-nav-trigger {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background: #F2F2F2;
	}

	.nav-menu {
		opacity: 0;
		visibility: hidden;
		translate: -50% 40px;
		transition: .3s;

		width: 1548px;
		position: absolute;
		z-index: var(--z-header);
		top: 123px;
		left: 50%;

		background: #F2F2F2;
		border-radius: 18px;

		padding: 48px;
		display: flex;
		gap: 40px;

		&:hover {
			opacity: 1;
			visibility: visible;
			translate: -50%;
		}

		&::after {
			top: -40px;
			left: 0;
			width: 100%;
			position: absolute;
			content: "";
			height: 40px;
		}
	}

	.group {
		flex: 0 1 260px;

		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.group-title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 8px;
		grid-column: span 2;
		color: #2A2A2A;
	}

	.group-link {
		font-size: 20px;
		color: #696969;
		align-self: start;

		&:hover {
			color: #0041B3;
		}
	}

	._double {
		flex: 0 1 552px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.mobile-nav-trigger {
		display: none;

		.close {
			display: none;
		}
	}

	.search-trigger {
		display: none;
	}

	.mobile-nav-trigger._open {
		.close {
			display: flex;
		}

		.lines {
			display: none;
		}
	}

	.hover-only {
		pointer-events: none;
	}

	@media (width >=1440px) {
		.accordion__a {
			overflow: visible !important;
			transition: 0.3s !important;
			height: auto !important;
			min-height: var(--min-height) !important;
			pointer-events: auto !important;
		}
	}

	@media (width < 1550px) {
		.logo {
			img {
				height: unset;
				width: 150px;
			}
		}

		.nav {
			gap: 24px;
		}

		.nav-menu {
			width: 1300px;
		}
	}

	@media (width < 1440px) {

		.container {
			>* {
				position: relative;
				z-index: var(--z-header);
			}
		}

		.mobile-nav-trigger {
			display: flex;
		}

		.nav-menu-trigger {
			display: block;
		}

		.nav-menu {
			opacity: 1;
			visibility: visible;

			position: static;
			translate: 0 !important;
			padding: 0;
			width: auto;
			align-items: center;
			background: none;

			display: flex;
			flex-direction: column;

			gap: 30px;
		}

		.accordion._open {
			.accordion__a {
				padding: 30px 0;
			}

			.accordion__q svg {
				rotate: 180deg;
			}
		}

		.group {
			align-items: center;
			flex: unset;
			gap: 16px;
		}

		.group-title {
			color: #2A2A2A;
			margin: 0;
		}

		.group-link {
			align-self: center;
			font-weight: 400;
			color: #696969;
		}

		._double {
			display: flex;
		}

		.link {
			font-size: 24px;
			font-weight: 700;
			color: #696969;
		}

		.nav {
			overflow-y: auto;
			position: fixed;
			z-index: var(--z-header-nav);
			top: 0;
			left: 0;
			top: 94px;
			padding: 60px 0;
			width: 100%;
			height: calc(100% - 94px);
			background: #ffffff;

			flex-direction: column;
			align-items: center;

			transition: .3s;
			translate: 100%;

			&._open {
				translate: 0;
			}
		}
	}

	@media (width < 768px) {
		.logo {
			img {
				width: 122px;
			}
		}

		.actions {
			gap: 4px;
		}

		&._searching {
			.component_search {
				display: flex;
			}

			.search-trigger,
			.basket,
			.person,
			.mobile-nav-trigger {
				display: none;
			}
		}

		.search-trigger {
			display: flex;
		}

		.component_search {
			display: none;
		}
	}

	@media (width < 400px) {
		.logo {
			img {
				width: 102px;
			}
		}

		.person,
		.basket,
		.search-trigger,
		.mobile-nav-trigger {
			width: 44px;
			height: 44px;
		}
	}
}