%hide-scroll {
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}

%button-core {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;

	height: 54px;
	padding: 0 40px;

	font-size: 20px;
	font-weight: 700;

	border-radius: 100px;
	text-align: center;
}

%button-white {
	@extend %button-core;
	background: #F2F2F2;
	color: #0041B3;
}

%button-blue {
	@extend %button-core;
	background: #0041B3;
	color: white;
}

%bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

%invisible {
	position: absolute;
	z-index: -9999;
	width: 0;
	height: 0;
}

%h1 {
	font-size: 48px;
	font-weight: 600;

	@media (width < 1440px) {
		font-size: 40px;
	}

	@media (width < 1024px) {
		font-size: 32px;
	}

	@media (width < 768px) {
		font-size: 24px;
	}
}

%button-icon {
	@extend %button-core;
	min-width: 54px;
	padding: 0;
	cursor: pointer;
	min-height: 54px;

	background: #F2F2F2;

	svg {
		width: 34px;
		height: 34px;
	}
}